appnope
ase
click
decorator
h5py
isodate
joblib
llvmlite
networkx
numba
python-louvain
rdflib
scikit-learn
scipy
threadpoolctl
tqdm
xlsxwriter
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-cluster -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-geometric
